﻿@model TASB.SpEd.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">If you answer the questions below you won't receive an email.</div>
    for (int i = 0; Model.Answers != null && i < Model.Answers.Count; ++i)
    {
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Answers[i].QuestionId)
                @Model.Answers[i].QuestionText
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Answers[i].Answer, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Answers[i].Answer, new { @class = "form-control" })
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset password" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
