﻿@model TASB.SpEd.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Lockout";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        This account has been locked out! Please try again in a few minutes.
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}