﻿@{
    ViewBag.Title = "Confirm email temp";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        This is just a temp page to simulate an email being sent, remove it when the email is implemented
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        Please go to <a href="@ViewBag.CallbackUrl">@ViewBag.CallbackUrl</a>.
    </div>
</div>