﻿@model TASB.SpEd.Web.Models.ListStudentsViewModel
@{
    ViewBag.Title = "Student";
}

<h2>Students  (Alvaro 4 sss   !!!!)</h2>

<table class="table">
    <tr>
        <th>
            First Name   bbbb
        </th>
        <th>
            Last Name bbbb
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Students) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
    </tr>
}

</table>
